{% extends 'backend/layouts/main.twig' %}

{% block content %}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body" style="padding: 50px">

            <h4 class="card-title">系統帳號 <span class="text-success">{{ methodTitle }}</span></h4>

            <form id="dataForm" action="{{ methodAction }}" method="post">

                <div class="form-group row">
                    <label for="account_name" class="col-sm-3 col-form-label">系統帳號</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="account_name" id="account_name" value="{{ account_name }}" {{ methodReadonly }} placeholder="系統帳號" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="account_pwd" class="col-sm-3 col-form-label">系統密碼</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="account_pwd" id="account_pwd" placeholder="系統密碼" {{ pwdRequired }}>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="account_pwd_check" class="col-sm-3 col-form-label">密碼確認</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="account_pwd_check" placeholder="密碼確認" {{ pwdRequired }}>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="account_realname" class="col-sm-3 col-form-label">系統姓名</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="account_realname" id="account_realname" value="{{ account_realname }}" placeholder="系統姓名" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="account_phone" class="col-sm-3 col-form-label">手機</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="account_phone" id="account_phone" value="{{ account_phone }}" placeholder="手機">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="account_email" class="col-sm-3 col-form-label">電子信箱</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="account_email" id="account_email" value="{{ account_email }}" placeholder="電子信箱">
                    </div>
                </div>

                <input type="hidden" name="{{ csrfName }}" value="{{ csrfHash }}">
                <button type="submit" class="btn btn-primary mr-2">儲存</button>
                <a href="/admin/accounts" class="btn btn-dark">返回</a>

            </form>

        </div>
    </div>
</div>

<script>

    $('#dataForm').submit(function(){
      
      if ($('#account_pwd').val() != '') {
  
        if ($('#account_pwd').val() != $('#account_pwd_check').val()) {
  
          alert('輸入密碼與確認密碼不符合。');
          return false;
        }
  
      }
  
      return true;
  
    });
  
</script>

{% endblock %}